<script src="/admin.js" defer></script>
<body>
  <div class="box">
    <div class="boxTitle">Add Items</div>
    <form class="adminForm" onsubmit="submitForm(event)">
      <div class="test">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" />
        <div class="time-selection">
          <label for="start">Start Time:</label>
          <select id="start" name="start"></select>
          <label for="end">End Time:</label>
          <select id="end" name="end"></select>
        </div>
        <div class="name-select">
          <input type="text" id="addItem" placeholder="Item Name" />
          <button type="submit" id="add_btn">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="boxTitle">Current Items</div>
    <table id="adminTable">
      <thead>
        <tr>
          <th class="adminth">Item Name</th>
          <th class="adminth">Date</th>
          <th class="adminth">Start Time</th>
          <th class="adminth">End Time</th>
          <th class="adminth">Availability</th>
          <th class="adminth">Actions</th>
        </tr>
      </thead>
      <tbody id="itemList"></tbody>
    </table>
  </div>

  <div>
      <h1>
          Item to edit:
      </h1>
      <p>
          Item details:
      </p>
      <p>
        Item name: 
      </p>
      <input id="item-name" type="text" value="">
      <p>
        Date:
      </p>
      <input type="text" id="date_edit" value=""/>
      <p>
        Start time: 
      </p>
      <input id="start_time" type="text" value="">

      <p>
        End time:
      </p>
      <input id="end_time" type="text" value="">

      <p>
          Availability for each timeslot:
      </p>
      <input type="checkbox" id="btn1" name="btn1" onclick="updateCheck(0)" checked>
      <label for="btn1">1</label>

      <input type="checkbox" id="btn2" name="btn2" onclick="updateCheck(1)" checked>
      <label for="btn2">2</label>
      
      <input type="checkbox" id="btn3" name="btn3" onclick="updateCheck(2)" checked>
      <label for="btn3">3</label>
      
      <input type="checkbox" id="btn4" name="btn4" onclick="updateCheck(3)" checked>
      <label for="btn4">4</label>

      <input type="checkbox" id="btn5" name="btn5" onclick="updateCheck(4)" checked>
      <label for="btn5">5</label>

      <input type="checkbox" id="btn6" name="btn6" onclick="updateCheck(5)" checked>
      <label for="btn6">6</label>

      <input type="checkbox" id="btn7" name="btn7" onclick="updateCheck(6)" checked>
      <label for="btn7">7</label>

      <input type="checkbox" id="btn8" name="btn8" onclick="updateCheck(7)" checked>
      <label for="btn8">8</label>

      <button onclick="submitEdit()">CONFIRM EDIT</button>
        
    </div>

</body>