<script src="/admin.js"></script>
<body>
  <div class="box">
    <div class="boxTitle">Add Items</div>
    <form class="adminForm" onsubmit="submitForm(event)">
      <div class="test">
        <div class="time-selection">
          <label for="start-time">Start Time:</label>
          <input type="datetime-local" id="start-time" name="end-time" />
          <label for="end-time">End Time:</label>
          <input type="datetime-local" id="end-time" name="end-time" />
        </div>
        <div class="name-select">
          <input type="text" id="addItem" placeholder="Item Name" />
          <button type="submit" id="add_btn">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="boxTitle">Current Items</div>
    <table id="adminTable">
      <thead>
        <tr>
          <th class="adminth">Item Name</th>
          <th class="adminth">Date</th>
          <th class="adminth">Start Time</th>
          <th class="adminth">End Time</th>
          <th class="adminth">Availability</th>
          <th class="adminth">Actions</th>
        </tr>
      </thead>
      <tbody id="itemList"></tbody>
    </table>
  </div>

</body>