<script src="/admin.js" defer></script>
<body>
  <div class="box">
    <div class="boxTitle">Add Items</div>
    <form class="adminForm" onsubmit="submitForm(event)">
      <div class="test">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" />
        <div class="time-selection">
          <label for="start">Start Time:</label>
          <select id="start" name="start"></select>
          <label for="end">End Time:</label>
          <select id="end" name="end"></select>
        </div>
        <div class="name-select">
          <input type="text" id="addItem" placeholder="Item Name" />
          <button type="submit" id="add_btn">Add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="boxTitle">Current Items</div>
    <table id="adminTable">
      <thead>
        <tr>
          <th class="adminth">Item Name</th>
          <th class="adminth">Date</th>
          <th class="adminth">Start Time</th>
          <th class="adminth">End Time</th>
          <th class="adminth">Availability</th>
          <th class="adminth">Actions</th>
        </tr>
      </thead>
      <tbody id="itemList"></tbody>
    </table>
  </div>

</body>