<script src="/admin.js" defer></script>
<main id = "content">
    <div>
        <h1>
            Item to edit:
        </h1>
        <p>
            Item details:
        </p>
        <p id="item-name">
        </p>

        <p id="date">
        </p>

        <p id="start_time">
        </p>

        <p id="end_time">
        </p>

        <p>
            Availability for each timeslot:
        </p>
        <input type="checkbox" id="btn1" name="btn1" checked>
        <label for="btn1">1</label>

        <input type="checkbox" id="btn2" name="btn2" checked>
        <label for="btn2">2</label>
        
        <input type="checkbox" id="btn3" name="btn3" checked>
        <label for="btn3">3</label>
        
        <input type="checkbox" id="btn4" name="btn4" checked>
        <label for="btn4">4</label>

        <input type="checkbox" id="btn5" name="btn5" checked>
        <label for="btn5">5</label>

        <input type="checkbox" id="btn6" name="btn6" checked>
        <label for="btn6">6</label>

        <input type="checkbox" id="btn7" name="btn7" checked>
        <label for="btn7">7</label>

        <input type="checkbox" id="btn8" name="btn8" checked>
        <label for="btn8">8</label>

        <button onclick="">CONFIRM EDIT</button>
        
    </div>
</main>