
<main id = "content">
    <center>
        <h1 id="heading">Your Confirmation</h1>
        <h2 id="text"></h2>
        <h2 id="number"></h2>
        <button id="next" onclick="window.location.href = '/'">Return to Start</button>
        <button id="remove" onclick="removeReservation()">Remove Reservation</button>
    </center>
</main>
<script type="text/javascript" src="confirm.js"></script>
<script>window.onload = printConfirmation()</script>