
<main id = "content">
    <center>
        <h1 id="heading">Your Confirmation Number</h1>
        <h2 id="confirmation"></h2>
        <button id="next" onclick="window.location.href = 'index.html'">Return to Start</button>
    </center>
</main>
<script type="text/javascript" src="confirm.js"></script>
<script>window.onload = printConfirmation()</script>