<script src = "adminAdd.js"></script>
<main id = "content">
    <div class="box">
        <h1>New Admin Information input</h1>
        
        <form>
            <label for="newAdminName">Enter New Username:</label>
            <input type="user" id="newAdminName" name="newAdminName"> <br> <br>
            
            <label for="newAdminPass">Enter New Password</label>
            <input type="password" id="newAdminPass" name ="newAdminPass"><br><br>
            
            <!-- <input type="submit" id="adminSubmit" style="margin-left: 30px;"> -->
            <button id="adminSubmit" style="border: 2px black solid; margin-left: 20px;">Submit</button>
        </form>

    </div>
</main>