<script src = "timeslots.js" defer></script>
<script src = "main.js" defer></script>
<script>window.onload = printObj()</script>

<body>

<main id = "content">
    <h1 id = "selectedDate"></h1>
    <button type = "button" class onclick = "window.location.href = 'calendar.html'">Back</button><br>
    
    <!-- <button type = "button" id = "testing" onclick = "printObj()">Items</button> -->
    <table id = "timeslots">
        <tr>
            <th></th>
            <th class = "calendar-day">Select a Timeslot:</th>
            <th></th>
        </tr>
    </table>

    <div id="items">
        <h2>Items Available</h2>
        <table id="itemsList">



        </table>

    </div>

</main>
</body>