:root {
	--accent: #38b6ff;
	--gray: #cdced2;
	--dark-gray: #929294;
}

body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: sans-serif;
}

header {
	text-align: center;
	background: var(--accent);
	color: white;
	font-size: x-large;
	border: solid 0 var(--accent);
	margin: 0;
	padding: 10px 0px;
}

header > h1 {
	text-align: center;
	font-style: italic;
	margin: 0;
}

#home-link {
	color: white;
	text-decoration: none;
}

#content {
	margin-left: 20%;
	margin-right: 20%;
}

#calendar-container {
	text-align: center;
}

#month-select {
	margin-top: 10px;
	background: var(--gray);
	border: 2px solid black;
	font-size: 200%;
}

.calendar-move {
	font-size: 100%;
	width: 10%;
	border: none;
	background: var(--gray);
	transition: background 0.2s;
}

.calendar-move:hover {
	background: var(--dark-gray);
}

#calendar {
	width: 100%;
}

.calendar-cell, .calendar-cell-disabled, .calendar-day {
	background: var(--gray);
	width: 14.28571429%;
	height: 50px;
}

.calendar-cell-disabled {
	background: var(--dark-gray);
}

.calendar-day {
	background: white;
}

footer > p {
	text-align: center;
	background: var(--accent);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}

#day-container {
	margin-top: 10%;
	display: inline-block;
}

.day {
	font-size: 60px;
	list-style-type: none;
	display: inline-flex;
}

.box {
	max-width: 1300px;
	min-height: 300px;
	background: rgb(215, 215, 215);
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 50px;
}

.boxTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--accent);
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	box-shadow: inset 0 0 0 2px black;
}

.adminForm {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#addItem {
	max-width: 400px;
	height: 30px;
	width: 100%;
}


.loginBox{
  display: grid;
  /* align-items: center;
  justify-content: center;
  flex-direction: row;  */
  grid-template-columns: 50% 50%;
  /* justify-content: stretch; */


  max-width: 500px;
  min-height: 400px;
  background: rgb(215, 215, 215);
  margin: 0 auto;
  margin-top: 100px;
  /* padding-bottom: 50px; */

  grid-template-areas: 
    'topleft topright'
    'iparea iparea'
    'lginbut lginbut';
}



#userButton{

  background-color: rgb(102, 181, 218);
  /* width:fit-content; */
  width: auto;
  height: 60px;
  text-align: center;
  grid-area: topleft;

}

#userButton > button{
  display: block;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: sans-serif;
  font-size: x-large;

}
#userButton > button:active{
  background-color: rgba(0, 0, 0, 0.3);
}

#adminButton
{
  background-color: #344B59;
  /* width:fit-content; */
  width: auto;
  height: 60px;
  text-align: center;
  grid-area: topright;
}
#adminButton > button{
  display: block;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: sans-serif;
  font-size: x-large;
}

.inputfeilds{


  grid-area: iparea;
  padding-left: 20%;
}

.lgbutton{
  grid-area: lginbut;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgbutton > button{
  position: relative;
  display: block;
  background-color: rgb(43, 211, 85);
  color: white;
  padding:20px 200px;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: bold;
  max-height: 90px;

}

.lgbutton > button:active{

  background-color: rgb(43, 211, 85);

}