:root {
	--accent: #38b6ff;
	--dark-accent: #344b59;
	--gray: #cdced2;
	--dark-gray: #929294;
	--green: #34ff67;
	--dark-green: #2bd355;
}

body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: sans-serif;
}

button {
	border: none;
	cursor: pointer;
	transition: background 0.2s;
}

header {
	text-align: center;
	background: var(--accent);
	color: white;
	font-size: x-large;
	border: solid 0 var(--accent);
	margin: 0;
	padding: 10px 0px;
}

h1 {
	text-align: center;
	font-weight: normal;
}

header > h1 {
	margin: 0;
	font-style: italic;
}

#home-link {
	color: white;
	text-decoration: none;
}

#content {
	margin-left: 20%;
	margin-right: 20%;
}

#calendar-container {
	text-align: center;
}

#month-select {
	margin-top: 10px;
	background: var(--gray);
	border: 2px solid black;
	font-size: 200%;
}

.calendar-move {
	font-size: 100%;
	width: 10%;
	border: none;
	background: var(--gray);
	transition: background 0.2s;
}

.calendar-move:hover {
	background: var(--dark-gray);
}

#calendar, #timeslots {
	width: 100%;
	table-layout: fixed;
}

.time-cell, .table-label {
	background: var(--gray);
	height: 50px;
	cursor: pointer;
	transition: background 0.2s;
}

.time-cell:hover {
	background: var(--accent);
}

.time-cell[disabled] {
	background: var(--dark-gray);
	cursor: not-allowed;
}

.table-label {
	background: white;
	cursor: default;
}

footer > p {
	text-align: center;
	background: var(--accent);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}

#day-container {
	margin-top: 10%;
	display: inline-block;
}

.day {
	font-size: 60px;
	list-style-type: none;
	display: inline-flex;
}

.box {
	max-width: 1300px;
	min-height: 300px;
	background: rgb(215, 215, 215);
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 50px;
}

.boxTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--accent);
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	box-shadow: inset 0 0 0 2px black;
}

.adminForm {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#addItem {
	max-width: 400px;
	height: 30px;
	width: 100%;
}

.loginBox {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 500px;
  background: var(--gray);
  margin: 0 auto;
  margin-top: 100px;
  grid-template-areas: 
    'topLeft topRight'
    'inputFields inputFields'
    'loginButton loginButton';
}

.loginTabButton {
  background: var(--dark-accent); 
  height: 60px;
  text-align: center;
  display: block;
  color: white;
  font-size: x-large;
}

.loginTabButton.selected {
	background: var(--accent);
	cursor: default;
}

.loginTabButton:hover{
  background: var(--accent);
}

.inputFields{
  grid-area: inputFields;
  padding: 10% 20%;
}

#loginButton {
  grid-area: loginButton;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: var(--dark-green);
  color: white;
  padding: 20px 200px;
  font-size: x-large;
  font-weight: bold;
  height: 90px;
}

#loginButton:hover {
  background-color: var(--green);
}