<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Pillar Priority</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/verifylogin.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    ></script>
    <script src="/index.js"></script>
  </head>

  <section class="header">
    <h1><a id="home-link" href="/">PILLAR PRIORITY</a></h1>
  </section>

  <body>

    {{{body}}}

  </body>

  <section class="footer">
    <p>@Team Obelisk</p>
  </section>

</html>