.box {
    min-height: 0;
  }
  ul.horizontal-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
  }

  ul.horizontal-list li {
    margin-right: 10px;
  }

  .time-selection {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
  }

  .time-selection label {
    margin-right: 10px;
  }

  .time-selection select {
    margin-right: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .name-select {
    margin: 0 auto;
    display: flex;
  }

  .test {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }